body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento','Cookie', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #caf7e3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.profile img{
  width: 300px;
  height: 300px;
}

.img-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: #6688FF;
  border-radius: 100%;
}

.img-container img{
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
